.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .projects-article {
border-bottom: solid 1px var(--projects-border);
}

.projects div:last-child {
  border-bottom: none;
} */
