html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 21px;
  /* --main-bg-color: #00a82d; */ /* VERT EVERNOTE */
  --main-bg-color: #042f4b;
  /* --main-bg-color: #2962ff; */
  /* --main-bg-color: #263238; */
  --second-bg-color: #ffffff;
  --third-bg-color: #8b4367;
  --main-color: #black;
  --second-color: #ffffff;
  --third-color: #393e46;
  --projects-border: #cccccc;
  --button-main-color: #1565c0;
  --button-second-color: #3292ff;
  background-color: var(--main-bg-color);
  color: var(--main-color);

  /* TEXT COLOR */
  --main-color: #black;
  --second-color: #ffffff;
  --second-color-hover: yellow;
  --third-color: #393e46;
  /* FONT SIZE */
  --fs-nav-desk: 1rem;

  /* FONT WEIGHT */
  --fw-nav-desk: 600;

  /* FONT FAMILY */
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.container {
  padding: 10px 0px;
  margin: auto;
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0 20px;
  color: var(--main-color);
  font-weight: 500;
  font-size: 1.6rem;
}

figure {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

h2::after {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background-color: var(--main-bg-color);
  margin: 25px auto;
}

.badge {
  background-color: var(--button-main-color);
  color: var(--second-color);
  border-radius: 15px;
  font-size: 1.4rem;
  font-weight: 700;
  vertical-align: middle;
  padding: 3px 7px;
  margin-left: 2rem;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.button-primary {
  border: none;
  background-color: var(--button-main-color);
  color: var(--second-color);
  font-weight: 600;
  transition: box-shadow 0.3s;
  font-size: 1.4rem;
  padding: 15px 30px;
  border-radius: 30px;
}

.button-secondary:active,
.button-primary:active {
  box-shadow: 0 0 0 3px var(--button-second-color);
  transition: box-shadow 0.3s;
}

.button-secondary {
  border: var(--button-main-color) solid 1px;
  color: var(--button-main-color);
  transition: box-shadow color 0.3s;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: transparent;
}

.button-secondary:hover {
  background-color: var(--button-main-color);
  color: var(--second-color);
  transition: box-shadow color 0.3s;
}

@media (min-width: 0px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
